body {
  background-image: url("img/slate.png");
  font-family: -apple-system,BlinkMacSystemFont,sans-serif;
  font-size: 1.2em;
  color: #315c31;
  text-shadow: 1px 1px 1px #b5cdb5;
  padding: 5% 15% 5%;
}
table {
  border: 5px outset;
  width: 100%;
}
th, tr {
  text-align: center;
  font-size: 1.2em;
  border: 2px outset;
}
td {
  text-align: center;
  font-size: 1.2em;
  border: 4px outset;
}
td:hover {
  background-color: #fff;
}
#calc-container {
  border: 12px ridge;
  width: 275px;
}
#display {
  border: 2px solid;
  font-size: 3em;
  padding: 2% 1% 2% 4%;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.2;
  width: auto;
}
#calc {
  width: 100%;
  cursor: pointer;
  user-select: none;
}
